body{
	display: flex;
	flex-direction: column;
}
#operation-index{
	display: flex;
	justify-content: center;
	padding: 10px 0 0 0;
	/*max-width: 900px;*/
	width: 100%;
	min-width: 350px;
	flex: 1;
	height: 0;
}
.editor{
	box-sizing: border-box;
	margin: 0;
	padding: 0 50px 100px 50px;
	border: 0;
	max-width: 900px;
	width: 50%;
	height: 100%;
	outline: none;
	overflow: auto;
}
.editor_tool{
	box-sizing: border-box;
	margin: auto;
	display: flex;
	max-width: 900px;
	width: 100%;
	min-width: 350px;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #F5F5F5;
}
.editor_tool > .button{
	padding: 0 10px;
	cursor: pointer;
}
#mathjaxContainer{
	display: none;
	/*display: flex;*/
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	z-index: 1;
}
#mathjaxContainer > .mathjax{
	display: flex;
	flex-direction: column;
	border-radius: 6px;
	padding: 0 20px;
	width: 400px;
	background-color: #ffffff;
}
#mathjaxContainer > .mathjax > .img{
	padding: 10px;
	width: 100%;
  min-height: 45px;
  max-height: 90px;
}

#mathjaxContainer > .mathjax > #mathjaxTexContainer{
  padding: 0;
  max-height: 240px;
  overflow: auto;
}
#mathjaxContainer > .mathjax > #mathjaxTexContainer > .mathjaxTex{
	margin: 0 0 4px 0;
	padding: 4px;
	box-sizing: border-box;
	width: 100%;
	/*height: 50px;*/
	height: 36px;
	line-height: 24px;
	resize: none;
	border-width: 2px;
	border-style: dashed;
	border-color: #434343;
	border-radius: 4px;
	outline: none;
}
#mathjaxContainer > .mathjax > .button{
	padding: 20px 0 0 0;
	display: flex;
	justify-content: space-around;
}
#mathjaxContainer > .mathjax > .button > div{
	padding: 10px;
	cursor: pointer;
}



#paragraphAndHeader {
	position: relative;
	/*width: 60px;*/
}

#paragraphAndHeader > #paragraphAndHeaderSelected {
	overflow: visible;
  width: 80px;
  text-align: center;
}

#paragraphAndHeader > #paragraphAndHeaderSelection {
	position: absolute;
	top: 100%;
	left: 10px;
	width: 100%;
	text-align: left;
	display: none;
	pointer-events: none;
	background-color: #ffffff;
}

#paragraphAndHeader > #paragraphAndHeaderSelection > .selection{
	padding-left: 10px;
}

#paragraphAndHeader > #paragraphAndHeaderSelection > .selection:hover {
	background-color: red;
}

#paragraphAndHeader:hover > #paragraphAndHeaderSelection {
	display: block;
	pointer-events: initial;
}


#imageContainer {
	display: none;
	/*display: flex;*/
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	z-index: 1;
}

#imageContainer > #image{
	display: flex;
	flex-direction: column;
	border-radius: 6px;
	padding: 0 20px;
	width: 400px;
	background-color: #ffffff;
	/*pointer-events: all;*/
}

#imageContainer > #image > #imageContent{
	display: flex;
	justify-content: center;
	padding: 20px;
	width: 100%;
	height: 200px;
}

#imageContainer > #image > #imageContent > #showImage{
	max-width: 100%;
	object-fit: contain;
	cursor: default;
}

#imageContainer > #image > #imageTitle{
	padding: 0 20px;
	width: 100%;
}

#imageContainer > #image > #imageTitle > #titleInput{
	box-sizing: border-box;
	width: 100%;
	outline: 0;
	font-size: 20px;
}

#imageContainer > #image > .button{
	/*padding: 20px 0 0 0;*/
	display: flex;
	justify-content: space-around;
}
#imageContainer > #image > .button > div{
	position: relative;
	padding: 10px;
	cursor: pointer;
}

#imageContainer > #image > .button > div > input{
	font-size: 0;
	outline: 0;
	padding: 0;
	border: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	position: absolute;
	cursor: pointer;
}

#listButton{
	position: relative;
}

#listButton > #listSelection{
	position: absolute;
	top: 100%;
	left: 10px;
	display: none;
	width: 100px;
	text-align: left;
	pointer-events: none;
	background-color: #ffffff;
}

#listButton > #listSelection > .selection{
	padding-left: 10px;
}

#listButton > #listSelection > .selection:hover {
	background-color: red;
}

#listButton:hover > #listSelection {
	display: block;
	pointer-events: initial;
}

