@font-face {
  font-family: "iconfont"; /* Project id 3460624 */
  src: url('iconfont.woff2?t=1655864398278') format('woff2'),
       url('iconfont.woff?t=1655864398278') format('woff'),
       url('iconfont.ttf?t=1655864398278') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-liebiaomoshi:before {
  content: "\e601";
}

.icon-tupian:before {
  content: "\e668";
}

.icon-fsux_tubiao_gongshi_jisuan:before {
  content: "\e600";
}

