
h1,h2,h3,h4,h5,h6,div,span,img,p{
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
	width: 100%;
	padding: 0 0 10px 0;
}

h1{
	min-height: 55px;
	line-height: 45px;
}
h2{
	min-height: 44px;
	line-height: 34px;
}
h3{
	min-height: 37px;
	line-height: 27px;
}
h4{
	min-height: 33px;
	line-height: 23px;
}
h5{
	min-height: 29px;
	line-height: 19px;
}
h6{
	min-height: 27px;
	line-height: 17px;
}

.paragraph{
	display: block;
	padding: 0 0 10px 0;
	width: 100%;
	line-height: 24px;
	min-height: 34px;
	text-indent: 34px;
	font-size: 16px;
}

img.mathjax{
	max-width: 100%;
  max-height: 20px;
	font-size: 0;
	vertical-align: middle;
	cursor: pointer;
}

.image{
	padding: 0 0 10px 0;
	width: 100%;
}
.image > img{
	width: 100%;
	max-width: 100%;
	cursor: pointer;
}
.image > .image_title{
	text-align: center;
	padding: 10px 0 0 0;
	width: 100%;
  line-height: 24px;
  min-height: 34px;
  font-size: 16px;
}

.list{
	padding-left: 34px;
}

.list > .li{
	display: flex;
}

.list > .li > .label{
	padding: 0 10px 0 0;
	min-width: 30px;
	/*white-space: nowrap;*/
}

.list > .li > .label[contenteditable='false']{
	user-select: none;
}

.list > .li > .li_content{
	padding: 0 0 10px 0;
	flex: 1;
	width: 0;
  line-height: 24px;
  min-height: 34px;
  font-size: 16px;
}

.code{
	width: 100%;
	padding: 0 0 10px 0;
}

.code > .code_container{
	width: 100%;
	display: flex;
	justify-content: center;
}
.code > .code_container > code{
	box-sizing: border-box;
	position: relative;
	display: block;
	max-width: 100%;
	line-height: 20px;
	text-align: left;
	padding: 10px;
	border-style: solid;
	border-width: 2px;
	border-color: black;
	border-radius: 4px;
}
.code > .code_title{
	text-align: center;
	padding: 10px 0 0 0;
	width: 100%;
  line-height: 24px;
  min-height: 34px;
  font-size: 16px;
}